.py {
  &-12 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  &-16 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  &-20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &-24 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
