// Palette
$natural-10: #f2f4f8;
$natural-20: #dde1e6;
$natural-30: #c1c7cd;
$natural-40: #a2a9b0;
$natural-50: #878d96;
$natural-60: #697077;
$natural-70: #4d5358;
$natural-80: #343a3f;
$natural-90: #21272a;
$natural-100: #121619;
$primary-10: #f5fcfa;
$primary-20: #c2f7e4;
$primary-30: #8fe7ca;
$primary-40: #5fdcb5;
$primary-50: #30d29f;
$primary-60: #00c889;
$primary-70: #00ab6e;
$primary-80: #007a4f;
$primary-90: #004e32;
$primary-100: #00291a;

// Colors
$natural: $natural-60;
$primary: $primary-60;

// Responsive
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$lg-min-width: 992px;
$lg-max-width: 991px;
$md-min-width: 768px;
$md-max-width: 767px;
$sm-min-width: 576px;
$sm-max-width: 575px;
